<div class="App">
    <!-- Header Content -->
    <app-header></app-header>

    <!-- Main Content -->
    <div class="container">
        <!-- Form -->
        <app-form></app-form>

        <!-- Data -->
        <p class="mt-4 mb-4 font-weight-bold">List of holidays registered</p>
        <table class="table mb-5">
            <thead class="bg-primary">
                <tr class="d-flex">
                    <th class="col-1">#</th>
                    <th class="col-2">User</th>
                    <th class="col-2">When</th>
                    <th class="col-2">Where</th>
                    <th class="col-3">Note</th>
                    <th class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex" *ngFor="let event of holidayService.getEvents()">
                    <td class="col-1">{{ event.id }}</td>
                    <td class="col-2">{{ event.name }}</td>
                    <td class="col-2">{{ event.date | date: 'MM-dd-yyyy' }}</td>
                    <td class="col-2">{{ event.location }}</td>
                    <td class="col-2">{{ event.note }}</td>
                    <td class="col-2">
                        <!-- TODO Add Edit / Remove -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>